<ul xmlns:th="http://www.thymeleaf.org" th:fragment="_sidebar"
    th:with="uri=${#httpServletRequest.getRequestURI()}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center"
     th:href="@{/dashboard/}">
    <div class="sidebar-brand-icon">
      <img th:src="@{/static/img/logo/logo2.png}" alt="logo" src=""/>
    </div>
    <div class="sidebar-brand-text mx-3">竞赛平台</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" th:href="@{/dashboard/}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>仪表盘</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    条目
  </div>
  <!--  管理员系统管理  -->
  <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item  active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSystem"
       aria-expanded="true" aria-controls="systemCollapse">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>系统管理</span>
    </a>
    <div id="collapseSystem" class="collapse show" aria-labelledby="headingSystem"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a th:class="'collapse-item ' + ${uri.contains('/system/user') ? 'active' : ''}"
           th:href="@{/system/user/}">用户管理</a>
      </div>
    </div>
  </li>

  <!--  项目管理  -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProject"
       aria-expanded="true" aria-controls="projectCollapse">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>项目管理</span>
    </a>
    <div id="collapseProject" class="collapse show" aria-labelledby="headingSystem"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a th:class="'collapse-item ' + ${uri.contains('/project/create') ? 'active' : ''}"
           th:href="@{/project/create/}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_JUDGE')">创建项目</a>
        <a th:class="'collapse-item ' + ${uri.contains('/project/list') ? 'active' : ''}"
           th:href="@{/project/list/}">项目列表</a>
      </div>
    </div>
  </li>
</ul>
