.text-underline-danger {
  border-bottom: 2px solid #dc3545;
}
.text-underline-warning {
  border-bottom: 2px solid #ffc107;
}
.text-underline-primary {
  border-bottom: 2px solid #007bff;
}
.hide {
  display: none;
}