<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::_header">
  <title>alert</title>
</head>
<body id="page-top">
<div id="wrapper">
  <!-- Sidebar -->
  <ul th:replace="common/sidebar::_sidebar"></ul>
  <!-- Sidebar -->
  <main th:replace="common/container::_main(~{::.main})">
    <div class="main">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Blank Page</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
        </ol>
      </div>

      <div class="text-center">
        <img src="../static/img/think.svg" th:src="@{/static/img/think.svg}" style="max-height: 90px" alt="think">
        <h4 class="pt-3">save your <b>imagination</b> here!</h4>
      </div>
    </div>
  </main>

</div>
<div th:include="common/util::_toTop"></div>
<div th:include="common/common::_footer"></div>
</body>

</html>