<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::_header(~{::title},~{})">
  <title>仪表盘</title>
</head>
<body id="page-top">
<div id="wrapper">
  <!-- Sidebar -->
  <ul th:replace="common/sidebar::_sidebar"></ul>
  <!-- Sidebar -->
  <main th:replace="common/container::_main(~{::.main})">
    <div class="main">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">仪表盘</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </div>
      <div class="row mb-3">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">打分作品
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${judgeFileCount}"></div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 3%</span>
                    <span>自昨日起</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">报名项目
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${studentApplyCount}"></div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 55%</span>
                    <span>自上周起</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-book fa-2x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">学生人数</div>
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${studentCount}"></div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 73.2%</span>
                    <span>自上月起</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x text-info"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">教师人数</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${judgeCount}"></div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 21%</span>
                    <span>自一开始</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-warning"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
          <div class="card mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">分数排行</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <input hidden th:value="${scoreNameList}" id="scoreNameList"/>
                <input hidden th:value="${scoreDataList}" id="scoreDataList"/>
                <canvas id="myAreaChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
          <div class="card mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">数目统计</h6>
              <div class="dropdown no-arrow">
              </div>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <div class="small text-gray-500">项目审核数目统计
                  <div class="small float-right" th:text="${reviewCount}"></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-primary" role="progressbar"
                       th:attr="aria-valuenow=${reviewCount}"
                       th:style="'width:' + ${reviewCount}*10 + '%;'"
                       aria-valuemin="0" aria-valuemax="10"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="small text-gray-500">项目开启报名数目统计
                  <div class="small float-right" th:text="${applyCount}"></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-success" role="progressbar"
                       th:attr="aria-valuenow=${applyCount}"
                       th:style="'width:' + ${applyCount}*10 + '%;'"
                       aria-valuemin="0" aria-valuemax="10"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="small text-gray-500">学生报名数目统计
                  <div class="small float-right" th:text="${studentApplyCount}"></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-danger" role="progressbar"
                       th:attr="aria-valuenow=${studentApplyCount}"
                       th:style="'width:' + ${studentApplyCount}*10 + '%;'"
                       aria-valuemin="0" aria-valuemax="10"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="small text-gray-500">报名审核数目统计
                  <div class="small float-right" th:text="${studentApplyReviewCount}"></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-info" role="progressbar"
                       th:attr="aria-valuenow=${studentApplyReviewCount}"
                       th:style="'width:' + ${studentApplyReviewCount}*10 + '%;'"
                       aria-valuemin="0" aria-valuemax="10"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="small text-gray-500">提交作品数目统计
                  <div class="small float-right" th:text="${studentFileCount}"></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-warning" role="progressbar"
                       th:attr="aria-valuenow=${studentFileCount}"
                       th:style="'width:' + ${studentFileCount}*10 + '%;'"
                       aria-valuemin="0" aria-valuemax="10"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="small text-gray-500">打分作品数目统计
                  <div class="small float-right" th:text="${judgeFileCount}"></div>
                </div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar bg-dark" role="progressbar"
                       th:attr="aria-valuenow=${judgeFileCount}"
                       th:style="'width:' + ${judgeFileCount}*10 + '%;'"
                       aria-valuemin="0" aria-valuemax="10"></div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <a class="m-0 small text-primary card-link" href="#">更多 <i
                  class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<div th:include="common/util::_toTop"></div>
<div th:include="common/common::_footer"></div>
<script th:src="@{/static/js/demo/chart-area-demo.js}"></script>
</body>
</html>