<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous">
  <link th:href="@{/static/css/login.css}" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <section id="formHolder">
    <div class="row">
      <!-- Brand Box -->
      <div class="col-sm-6 brand">
        <a href="#" class="logo">TF <span>.</span></a>

        <div class="heading">
          <h2>Welcome</h2>
          <p>天府学院——竞赛平台</p>
        </div>

        <div class="success-msg">
          <p>注册成功！现在你可以正常登录了～</p>
          <a href="#" class="profile">你的个人资料</a>
        </div>
      </div>

      <!-- Form Box -->
      <div class="col-sm-6 form">
        <!-- Login Form -->
        <div class="login form-peice">
          <form class="login-form" action="#" th:action="@{/login}" method="post">
            <div class="form-group">
              <label for="login-email">邮箱/手机号</label>
              <input type="text" name="username" id="login-email" required />
              <span class="error"></span>
            </div>
            <div class="form-group">
              <label for="login-password">密码</label>
              <input type="password" name="password" id="login-password" required />
              <span class="error"></span>
            </div>
            <input type="hidden" name="_csrf" id="csrf" th:value="${_csrf.token}"/>
            <div class="CTA">
              <input type="button" id="login" value="登录">
              <a href="#" class="switch">注册帐号</a>
            </div>
          </form>
        </div><!-- End Login Form -->


        <!-- forget Form -->
        <div class="forget form-peice switched">
          <form class="forget-form" action="#" method="post">

            <div class="form-group">
              <label for="name">姓名</label>
              <input type="text" name="username" id="name" class="name">
              <span class="error"></span>
            </div>

            <div class="form-group">
              <label for="email">邮箱地址</label>
              <input type="email" name="emailAddress" id="email" class="email">
              <span class="error"></span>
            </div>

            <div class="form-group">
              <label for="phone">手机号</label>
              <input type="text" name="phone" id="phone" class="phone">
              <span class="error"></span>
            </div>

            <div class="form-group">
              <label for="password">密码</label>
              <input type="password" name="password" id="password" class="pass">
              <span class="error"></span>
            </div>

            <div class="form-group">
              <label for="rePassword">确认密码</label>
              <input type="password" name="rePassword" id="rePassword" class="passConfirm">
              <span class="error"></span>
            </div>

            <div class="CTA">
              <input type="button" value="现在注册" id="register">
              <a href="#" class="switch">已拥有帐号</a>
            </div>
          </form>
        </div><!-- End forget Form -->
      </div>
    </div>

  </section>


  <footer>
    <p>
      Form made by: <a href="http://mohmdhasan.tk" target="_blank">Mohmdhasan.tk</a>
    </p>
  </footer>

</div>
<!-- partial -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8="
        crossorigin="anonymous"></script>
<script th:src="@{/static/js/page/login.js}"></script>
</body>
</html>
