<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::_header(~{::title},~{})">
  <title></title>
</head>
<body id="page-top">
<div id="wrapper">
  <!-- Sidebar -->
  <ul th:replace="common/sidebar::_sidebar"></ul>
  <!-- Sidebar -->
  <main th:replace="common/container::_main(~{::.main})">
    <div class="main">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" th:text="${detail.project.name}"></h1>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <!-- 基本信息 -->
          <div class="card mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">基本信息</h6>
            </div>
            <div class="card-body">
              <p>项目描述</p>
              <pre th:text="${detail.project.description}"></pre>
              <p>积分规则</p>
              <pre th:text="${detail.project.gradeRule}"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
<div th:include="common/util::_toTop"></div>
<div th:include="common/common::_footer"></div>
</body>

</html>