<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::_header(~{::title},~{::link})">
  <title>alert</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.10.21/css/dataTables.bootstrap4.min.css"
        integrity="sha256-ugpqzk9NhK3S2sVpMgSrIin1AzsJMlqUIMOCXyzPaL8=" crossorigin="anonymous">
</head>
<body id="page-top">
<div id="wrapper">
  <!-- Sidebar -->
  <ul th:replace="common/sidebar::_sidebar"></ul>
  <!-- Sidebar -->
  <main th:replace="common/container::_main(~{::.main})">
    <div class="main">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">用户管理</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active" aria-current="page">DataTables</li>
        </ol>
      </div>

      <div th:if="${action}" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        操作成功！
      </div>
      <div class="alert alert-danger alert-dismissible hide" id="action-error" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p id="error-message">操作失败</p>
      </div>

      <!-- Row -->
      <div class="row">
        <!-- 用户列表 -->
        <div class="col-lg-12">
          <div class="card mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">您可以自由管理当前系统下的所有用户</h6>
              <div>
                <button type="button" class="btn btn-primary mb-1" id="user-add">添加</button>
                <button type="button" class="btn btn-secondary mb-1" id="user-import">导入</button>
                <a href="http://downloads.echocow.cn/file/%E7%94%A8%E6%88%B7%E5%AF%BC%E5%85%A5%E6%A8%A1%E6%9D%BF.xlsx"
                   target="_blank" class="btn btn-info">
                  <span class="text">下载模板</span>
                </a>
              </div>
            </div>
            <div class="table-responsive p-3">
              <table class="table align-items-center table-flush table-hover" id="userDataTable">
                <thead class="thead-light">
                <tr>
                  <th>头像</th>
                  <th>姓名</th>
                  <th>邮箱</th>
                  <th>电话</th>
                  <th>角色</th>
                  <th>创建时间</th>
                  <th>修改时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th colspan="7" style="text-align:right"
                      th:text="'管理员:' + ${admin} + '个，评委：' + ${judge} + '个，学生：' + ${student} + '个'">
                    Total:
                  </th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--Row-->

      <!-- Documentation Link -->
      <div class="row">
        <div class="col-lg-12">
          <p>DataTables is a third party plugin that is used to generate the demo table below. For
            more information
            about DataTables, please visit the official <a href="https://datatables.net/"
                                                           target="_blank">DataTables
              documentation.</a></p>
        </div>
      </div>

    </div>

  </main>
  <div class="modal fade" id="update-modal" tabindex="-1" role="dialog"
       aria-labelledby="update-modal-labelled" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="update-modal-labelled">更新用户</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="update-error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p id="update-error-message">操作失败</p>
          </div>
          <input type="hidden" name="_csrf" id="csrf" th:value="${_csrf.token}"/>
          <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name"
                   aria-describedby="nameHelp" required
                   name="name"
                   placeholder="请输入姓名">
          </div>
          <div class="form-group">
            <label for="email">电子邮箱</label>
            <input type="email" class="form-control" id="email"
                   aria-describedby="emailHelp" required
                   name="email"
                   placeholder="请输入电子邮箱">
          </div>
          <div class="form-group">
            <label for="phone">手机号</label>
            <input type="text" class="form-control" id="phone"
                   aria-describedby="phoneHelp" required name="phone"
                   placeholder="请输入手机号">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="text" class="form-control" id="password"
                   aria-describedby="phoneHelp" required name="phone"
                   placeholder="请输入用户密码">
          </div>
          <div class="form-group">
            <label for="role">用户角色</label>
            <select class="form-control" id="role" name="role">
              <option value="ROLE_ADMIN">管理员</option>
              <option value="ROLE_JUDGE">评委</option>
              <option value="ROLE_STUDENT">学生</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">取消</button>
          <button type="button" id="update-user" data-id="" class="btn btn-outline-primary">确认
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:include="common/util::_toTop"></div>
<div th:include="common/common::_footer"></div>

<!-- Page level plugins -->
<script src="https://cdn.jsdelivr.net/npm/datatables.net@1.10.21/js/jquery.dataTables.min.js"
        integrity="sha256-s+IGOQWIhMyylwPABPBE89mzWrAmYL7J+XDfd8OFGkw="
        crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.10.21/js/dataTables.bootstrap4.min.js"
    integrity="sha256-gd5e0qED7nmMn2QTN00QRJ3TspSFFxXpqS0nKogoR9U="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-xlsx@0.8.22/dist/xlsx.core.min.js"
        integrity="sha256-u/GgtPEIcTOPtPBWOkvMsZZLqECiTTcnkbYAIShgTh8="
        crossorigin="anonymous"></script>
<!-- Page level custom scripts -->
<script th:inline="javascript">
  const data = [[${users}]];

  function userUpdate(e) {
    const id = $(e).attr('data-id')
    const index = data.findIndex(d => `${d.id}` === `${id}`)
    const user = data[index]
    $('#update-user').prop('data-id', id)
    $('#name').val(user.name)
    $('#phone').val(user.phone)
    $('#email').val(user.email)
    $('#password').val('')
    $('#role').val(user.role)
    $('#update-modal').modal('show')
  }

  $(document).ready(function () {
    let $update = $('#update-error');
    $update.hide()
    $('#update-user').click(function () {
      $update.hide()
      const id = $(this).prop('data-id')
      const user = {
        id,
        name: $('#name').val(),
        phone: `${$('#phone').val()}`,
        email: $('#email').val(),
        password: `${$('#password').val()}`,
        role: $('#role').val()
      }
      let error = false
      if (empty(user.name)) {
        $('#update-error-message').html('姓名不能为空')
        error = true
      } else if (empty(user.phone)) {
        $('#update-error-message').html('手机号不能为空')
        error = true
      } else if (empty(user.email)) {
        $('#update-error-message').html('邮箱不能为空')
        error = true
      } else if (empty(user.role)) {
        $('#update-error-message').html('角色不能为空')
        error = true
      } else if (id === -1 && empty(user.password)) {
        $('#update-error-message').html('密码不能为空')
        error = true
      }
      if (error) {
        $update.show()
        return
      }
      $.ajax({
        url: `/user/update`,
        method: 'post',
        headers: {"X-CSRF-TOKEN": $('#csrf').val()},
        contentType: 'application/json',
        data: JSON.stringify(user),
        success: function () {
          $('#update-modal').modal('hide')
          window.location.reload();
        },
        error: function (error) {
          $update.show()
          $('#update-error-message').html(`操作失败:${error.responseJSON.message}`)
        }
      })
    })
    $('#user-add').click(function () {
      $update.hide()
      const id = -1
      $('#update-user').prop('data-id', id)
      $('#name').val('')
      $('#phone').val('')
      $('#email').val('')
      $('#password').val('')
      $('#role').val('')
      $('#update-modal').modal('show')
    })
    $('#user-import').click(function () {
      if (!document.getElementById('readLocalFile')) {
        let inputFile = document.createElement("input")
        inputFile.setAttribute("id", "readLocalFile")
        inputFile.setAttribute("type", "file")
        inputFile.setAttribute("accept", ".xlsx, .xls");
        inputFile.setAttribute("multiple", false)
        inputFile.click();
        document.body.appendChild(inputFile);
        document.getElementById('readLocalFile').addEventListener('change', function (e) {
          let files = e.target.files
          if (files.length === 0) {
            return
          }
          let file = files[0]
          let reader = new FileReader()
          reader.readAsBinaryString(file)
          reader.onload = function (e) {
            let data = e.target.result
            let workbook = XLSX.read(data, {type: 'binary'})
            let sheetNames = workbook.SheetNames
            let worksheet = workbook.Sheets[sheetNames[0]]
            let json = XLSX.utils.sheet_to_json(worksheet)
            $.ajax({
              url: `/user/import`,
              method: 'post',
              headers: {"X-CSRF-TOKEN": $('#csrf').val()},
              contentType: 'application/json',
              data: JSON.stringify(json),
              success: function () {
                window.location.reload();
              },
              error: function (error) {
                $('#error-message').html(`操作失败:${error.responseJSON.message}`)
                $('#action-error').fadeIn()
              }
            })
            document.getElementById('readLocalFile').value = null
          }
        })
      } else {
        document.getElementById('readLocalFile').click()
      }
    })
    $('#userDataTable').DataTable({
      searching: true,
      serverSide: false,
      paging: true,
      data,
      columns: [
        {
          data: "avatar",
          render: (data) => `<img class="img-profile rounded-circle" src="${data}" alt="user" style="max-width: 45px" />`
        },
        {data: "name"},
        {data: "email"},
        {data: "phone"},
        {
          data: "role",
          render: (data) => {
            if (data === 'ROLE_ADMIN') {
              return `<span class="text-underline-danger">管理员</span>`
            } else if (data === 'ROLE_STUDENT') {
              return `<span class="text-underline-primary">学生</span>`
            } else {
              return `<span class="text-underline-warning">评委</span>`
            }
          }
        },
        {data: "createTime"},
        {data: "updateTime"},
        {
          data: "id",
          render: data => {
            return `
              <a href="javascript:void(0);" class="btn btn-success btn-sm user-update" onclick="userUpdate(this)" data-id="${data}">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <a href="${data}" class="btn btn-danger btn-sm user-delete" data-id="${data}">
                <i class="fas fa-trash"></i>
              </a>`
          }
        }
      ],
      language: {
        "processing": "处理中...",
        "loadingRecords": "载入中...",
        "lengthMenu": "显示 _MENU_ 项结果",
        "zeroRecords": "沒有符合的结果",
        "info": "展示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "infoFiltered": "(从 _MAX_ 项结果中过滤)",
        "infoPostFix": "",
        "search": "搜索结果:",
        "paginate": {
          "first": "第一页",
          "previous": "上一页",
          "next": "下一页",
          "last": "最后一页"
        },
        "aria": {
          "sortAscending": ": 升序排列",
          "sortDescending": ": 降序排列"
        }
      }
    });
  });
</script>
</body>

</html>
